body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Page Bilan  */

.body_bilan {
    background: linear-gradient(90deg, #ffffff, #ffffff);
    color: rgb(0, 0, 0); 
}

h2 {
    color: white;
}

.bloc_lecon a {
    text-decoration: none;
    color: white;
    
}


.liste_lecons {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 50px 175px;
}
.notiontitle {
    padding: 8vh 7vw 0 9vw;
}

.bloc_lecon {
    background-color: antiquewhite;
    height: 225px;
    width: 225px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.bloc_lecon h2 {
     text-align: center; 
    margin: 31px 175px;
    font-weight: 500;
    color: #ffffff;
     
}

.bloc_lecon:nth-child(1) {
    background-color: rgb(247, 204, 232)   
}
.bloc_lecon:nth-child(2) {
    background-color: rgb(226, 195, 237)   
}
.bloc_lecon:nth-child(3) {
    background-color: rgb(195, 219, 253)   
}
.bloc_lecon:nth-child(4) {
    background-color: rgb(204, 247, 217)   
}

/* Page représentation des nombres */

    .section_repre {
        max-width: 870px;
        min-width: 870px;
        min-height: 600px;
        padding: 40px 100px;
        background-color:#FEF2F4;
        border-radius: 10px;
        overflow: hidden;
        margin: 80px auto 30px;
    }
    
    .section_repre h1 {
    color: #ddb1b1;
    }
    
    .section_repre h2 {
        color: #d4a9a9;
        }
   

/* Page Expression Booléeennes */

.section_express {
    max-width: 870px;
    min-width: 870px;
    min-height: 600px;
    padding: 40px 100px;
    background-color:#d3cfd4;
    border-radius: 10px;
    overflow: hidden;
    margin: 80px auto 30px;
}

.section_express h1 {
color: #888091;
}

.section_express h2 {
    color: #9a8a9e;
    }

    .section_express h3 {
        color: #978ea0;
        }        
        

/* Page Réseaux et IHM */

.section_reseaux {
    max-width: 870px;
    min-width: 870px;
    min-height: 600px;
    padding: 40px 100px;
    background-color:#E9EDC9;
    border-radius: 10px;
    overflow: hidden;
    margin: 80px auto 30px;    
}

.section_reseaux h1 {
color: #7D8F69;
}

.section_reseaux h2 {
    color: #334735;
    }

    .section_reseaux h3 {
        color: #557153;
        }
        
/* Page Architecture et système */

.section_arch {
    max-width: 870px;
    min-width: 870px;
    min-height: 600px;
    padding: 40px 100px;
    background-color:#c9ccd0;
    border-radius: 10px;
    overflow: hidden;
    margin: 80px auto 30px;
}

.section_arch h1 {
color: #5c6988;
}

.section_arch h2 {
    color: #7481a0;
    }

    .section_arch h3 {
        color: #64677a;
        }        
        
/* Page de Construction */

.text_soon {
    letter-spacing: -3px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.text_soon span:nth-child(1) {
    color: rgb(99, 75, 75);
    margin-right: 15px;
}
.text_soon span:nth-child(2) {
    color: rgb(132, 98, 98);
    margin-right: 5px;
}
.text_soon span:nth-child(3) {
    color: rgb(108, 89, 89);
    margin-right: 5px;
}
.text_soon span:nth-child(4) {
    color: rgb(145, 126, 126);
    margin-right: 5px;
}
.text_soon span:nth-child(5) {
    color: rgb(187, 169, 169);
    margin-right: 5px;
}
.text_soon span:nth-child(6) {
    color: rgb(200, 184, 184);
    margin-right: 5px;
}.text_soon span:nth-child(7) {
    color: rgb(221, 215, 215);
    margin-right: 5px;
}
.text_soon span:nth-child(8) {
    color: rgb(241, 234, 234);
    margin-right: 5px;
}

th,td {
    border: 3px solid rgb(172, 134, 254);
    padding: 13px 22px;
}
table {
    border-collapse: collapse;
}

/* Page Index */

.index_body {
display : flex;
flex-direction: column;
gap: 15px;

}

input[type="submit" i] {
    width: fit-content;
}

.img_body {
    width: 450px;
}

/* Error */

.body_error {
    background-color: rgb(31, 31, 31);
    color: rgb(243, 243, 243);
}
.error_main {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    text-align: center;
    margin: 20px;
}

.error  div .text_soon {
    font-size: 1.1em;
}

.error  div .text_soon span:nth-child(1) {
    color: rgb(210, 203, 255);
}

.error  div .text_soon span:nth-child(2) {
    color: rgb(198, 190, 255);
}

.error  div .text_soon span:nth-child(3) {
    color: rgb(200, 191, 255);
}

.error  div .text_soon span:nth-child(4) {
    color: rgb(183, 172, 255);
}

.error  div .text_soon span:nth-child(5) {
    color: rgb(163, 149, 255);
}

.error  div .text_soon span:nth-child(6) {
    color: rgb(137, 119, 255);
}

.error  div .text_soon span:nth-child(7) {
    color: rgb(115, 94, 255);
}

.error  div .text_soon span:nth-child(8) {
    color: rgb(105, 82, 255);
}

.error div h1 {
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 0;
}

.error div a {
    background-color: rgb(172, 134, 254);
    border: solid 2px rgb(172, 134, 254);
    border-radius: 50px;
    padding: 10px 25px;
    transition: ease 0.2s;
    color: white;
    text-decoration: none;
}

.error div a:hover {
    background-color: transparent;
    transition: ease 0.2s;
}

/* Index */
main.index_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    font-size: 23px;
}

.index_main section:nth-child(1) {
    margin-left: 7vw;
}

.index_main_titles h1 {
    margin: 0;
    line-height: 28px;
    font-size: 2em;
}

.index_main_titles p {
    margin:  5px 0 30px 0;
}

.index_main section form div  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 10px;
    width: 25vw;
}

.index_main section form div label {
    font-size: 0.9em;
}

.index_main section form div input, .index_main section form div select {
    border: solid 2px rgb(210, 203, 255);
    border-radius: 50px;
    padding: 8px 15px;
    width: 100%;
}

.index_main section img {
    height: 615px;
    width: auto;
}

.index_main input[type="submit"] {
    background-color: rgb(172, 134, 254);
    border: solid 2px rgb(172, 134, 254);
    color: white;
    padding: 7px 35px;
    border-radius: 10px;
    transition: ease 0.2s;
    cursor: pointer;
}

.index_main input[type="submit"]:hover {
    background-color: transparent;
    color: rgb(172, 134, 254);
    transition: ease 0.2s;
}

/* Créa */
.vers {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2vh 7vw;
    justify-content: space-evenly;
    gap: 170px;
    height: 100vh;
}

.vers .left {
    width: fit-content;
}

.vers .left .titres h1 {
    margin: 0;
    line-height: 68px;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: 8px;
    color: #ffffff;
}

.vers .left .titres h1 span {
    font-size: 0.5em !important;
    font-weight: 100;
    letter-spacing: normal;
}

.vers .left .stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 26px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 45px;
}

.vers .left .stats p {
    font-weight: bold;
    font-size: 1.1em;
    color: #ffffff;
}

.vers .left .stats p span {
    font-weight: 200;
}

.vers .right .bg {
    height: 470px;
    width: 313px;
    position: relative;
    top: 270px;
    z-index: -1;
}

.bg::after {
    content: '';
    height: 470px;
    width: 313px;
    display: block;
    position: absolute;
    background: #ff7e7e87;
}
.bg {
    background-image: url(./f1voiture.jpg);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 350px;
}
.circuit {
    width: 475px;
    position: relative;
    top: 36px;
}
.circuitdiv {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.personne {
    height: 569px;
    position: relative;
    bottom: 219px;
    left: 70px;
}

.moreinfos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 7vw;
    min-height: 90vh;
}

.moreperso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moreperso img {
    height: 400px;
}

.morepersotitres {
    padding: 7px 40px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.morepersotitres h2 {
    margin: 0;
}

.morepersotitres_red {
    color: rgb(114, 29, 29);
    font-size: 2em;
}

.morepersotitres_white {
    font-size: 3em;
    color: rgb(255, 255, 255);
}

.morecasquedr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.circleopacityfaible {
    height: 185px;
    width: 185px;
    border-radius: 50%;
    background-color: #9f000033;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleopacitymed {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    background-color: #d93232b8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleopacityforte {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: #b72525d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleopacityfaible img {
    height: 80px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moredrapeau {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px;
}

.moredrapeau h2 {
    color: rgb(255, 255, 255);
    font-size: 2em;
}

.moredrapeau img {
    width: 70px;
    height: 35px;
    border-radius: 5px;
}

.moretxt {
    width: 30vw;
}

.moretxt h2 {
    font-size: 2em;
    border-bottom: solid 4px #b72525d1;
    color: rgb(255, 255, 255);
    width: fit-content;
}

.moretxt div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.moretxt div p {
    font-size: 1.6em;
    margin: 9px;
}

.moretxt div .white {
    color: #b72525d1;
    font-weight: 600;
}

.moretxt div .grey {
    color: rgb(125, 124, 124);
}

.body_crea {
    background-color: rgb(29, 27, 27);
    }

/* Nav */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    padding: 0px 15px;
    background-color: white;
    position: sticky;
    z-index: 10;
}

nav img {
    height: 70px;
    width: auto;
}

nav div {
    display: flex;
    gap: 18px;
    align-items: center;
}

nav div a {
    text-decoration: none;
    color: black;
}

nav div .connect {
    background-color: rgb(172, 134, 254);
    border: solid 2px rgb(172, 134, 254);
    color: white;
    padding: 7px 15px;
    border-radius: 10px;
    transition: ease 0.2s;
}

nav div .connect:hover {
    background-color: transparent;
    color: black;
    transition: ease 0.2s;
}



/* Quiz */

/* .body_quiz {
    background: linear-gradient(to right, rgb(191, 191, 228), rgb(241, 195, 202));
    color: #5d2d52;

} */

.quizzsection {
    padding: 3vh 10vw;
}

.quizzsection h1 {
    font-size: 2.5em;
}

.quizzsection p {
    color: rgb(172, 134, 254);
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

.quizzsection #quizForm {
    margin-left: 25px;
}

.quizzsection #quizForm div {
    margin-bottom: 35px;
}

.quizzsection #quizForm button {
    border: solid 2px rgb(172, 134, 254);
    padding: 7px 15px;
    border-radius: 10px;
    transition: ease 0.2s;
    font-size: 1.05em;
    cursor: pointer;
    transition: 0.2s ease;
}

.quizzsection #quizForm .btnresult {
    background-color: rgb(172, 134, 254);
    color: white;
}

.quizzsection #quizForm .btnresult:hover {
    background-color: transparent;
    color: rgb(172, 134, 254);
    transition: 0.2s ease;
}

.quizzsection #quizForm .btnrep {
    background-color: transparent;
    color: rgb(172, 134, 254);
}

.quizzsection #quizForm .btnrep:hover {
    background-color: rgb(172, 134, 254);
    color: white;
    transition: 0.2s ease;
}

.return {
    background-color: rgb(172, 134, 254);
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 7vw;
}

.return a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}